#rem-demo {
}

#rem-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
}

#rem-info-pane {
  position: absolute;
  left: 0;
  width: 300px;
}
#rem-info-pane > * {
  padding: 4px;
}

.rem-cluster-info {
}
.rem-cluster-info dd,
.rem-cluster-info dt {
  margin: 0;
  padding: 0;
}
.rem-cluster-info dt {
  clear: left;
  float: left;
  font-weight: bold;
}
.rem-cluster-info dd {
  float: right;
}

/* diesel price menu */
.menu h2 {
  font-size: 1rem;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}

.menu li.active {
  background: #eaeaea;
  font-weight: bold;
  text-decoration: underline;
}
