#rem-demo {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#rem-map {
  position: absolute;
  top: 0;
  bottom: 3em;
  left: 300px;
  right: 0;
}

#rem-info-pane {
  position: absolute;
  left: 0;
  width: 300px;
}
#rem-info-pane > * {
  padding: 4px;
}

.rem-disclaimer {
  position: absolute;
  bottom: 0;
  left: 300px;
  right: 0;
  height: 3em;
  line-height: 1.5;
}

.rem-cluster-info {
  height: 300px;
  overflow: scroll;
}
.rem-cluster-info dl { overflow: auto; } /* clearfix */

.rem-cluster-info dd,
.rem-cluster-info dt {
  margin: 0;
  padding: 0;
}
.rem-cluster-info dt {
  clear: left;
  float: left;
  font-weight: bold;
}
.rem-cluster-info dd {
  float: right;
}

.legend dt {
  clear: left;
  float: left;
  margin: 0;
}
.legend dd {
  float: left;
  margin-left: 4px;
}

.explanation {
  clear: both;
}

/* diesel price menu */
.menu h2 {
  font-size: 1rem;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}

.menu li.active {
  background: #eaeaea;
  font-weight: bold;
  text-decoration: underline;
}
